<br />

<div class="nav-item">
    <a href="~/UserAccess/UserManager/Logout" class="nav-link text-white">Logout</a>
</div>

<br />

<div style="text-align: center;">

    <h1>Teachers Home Page</h1>

</div>
