@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/_AdminLayout.cshtml";
}

<h1></h1>

<div>

    <h1>Welcome!</h1>
    <hr />
    <br />
    <br />
    <br />


    <div style="clear: both;"></div>
    <div>
        <div style="text-align: center;">
            <a href="~/Admin/AdminLearners/Details" class="button">View Learners</a>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />

        <div style="text-align: center;">
            <a href="~/Admin/AdminTeach/Details" class="button">View Teachers</a>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />


    </div>
</div>
<div>
    <br />
    <br />
    <br />

</div>
